* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  color: #555; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-weight: 100; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.logo {
  color: coral; }

header {
  border-bottom: 2px solid coral; }
  header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px; }
    header div nav {
      justify-self: end; }
      header div nav a {
        margin-right: 15px;
        text-decoration: none;
        color: #444; }

main {
  margin-top: 30px; }
  main > * {
    margin-bottom: 50px !important; }
  main p {
    font-size: 0.8em;
    line-height: 2; }

.btn {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
  background-color: coral;
  color: #fff;
  padding: 10px 15px;
  border-radius: 20px; }

.btn-plain {
  text-decoration: none;
  color: coral; }

.col-2 {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 2em;
  align-items: center; }
  .col-2 h1 {
    font-size: 3.3em; }

.col-2-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  align-items: center; }

.col-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  align-items: center; }
  .col-3 h2 {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.8em; }
  .col-3 #intro {
    line-height: 1.5; }
  .col-3 .cta {
    grid-column: 1 / -1;
    justify-self: center;
    text-align: center; }
    .col-3 .cta h6 {
      font-weight: 900;
      text-transform: uppercase; }
  .col-3 .testimonial {
    padding-bottom: 50px;
    border-bottom: 20px solid coral; }
    .col-3 .testimonial::before {
      border-left: 3px solid cornflowerblue;
      height: 25px; }
    .col-3 .testimonial blockquote {
      font-size: 0.7em;
      padding: 1px 10px;
      overflow: none; }

.col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  align-items: center; }
  .col-4 h2 {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 1.8em; }

.hero img {
  width: 80%; }
.hero div:nth-of-type(2) {
  text-align: right; }

.full-length {
  height: 35vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  align-items: center; }
  .full-length > * {
    width: 100%;
    height: 100%;
    padding: 40px; }
  .full-length #video-content {
    text-align: center;
    background: #333;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center center; }
    .full-length #video-content a {
      color: #fff;
      text-decoration: none;
      border: 2px solid #fff;
      padding: 10px 15px;
      border-radius: 50%; }
  .full-length #description {
    background: coral;
    color: #fff; }
  .full-length #stats {
    display: flex;
    justify-content: space-around;
    color: #fff;
    background-color: #ff662e; }

.numbers {
  grid-gap: 0; }

.reviews {
  padding-bottom: 50px;
  border-bottom: 1px solid coral; }

.benefits .benefit-description {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr; }
  .benefits .benefit-description i {
    grid-column: 1;
    grid-row: 1 / span 2;
    padding-top: 5px; }

.pricing div {
  display: flex;
  flex-direction: column;
  place-items: center center; }
  .pricing div h4 {
    color: coral;
    font-size: 2em;
    margin-bottom: 0;
    padding-top: 10px; }
.pricing .plan {
  border-radius: 5px;
  box-shadow: 0px 2px 3px #333; }
  .pricing .plan p {
    line-height: 3; }
  .pricing .plan > * {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #333; }
  .pricing .plan > p:last-of-type,
  .pricing .plan .btn {
    border-bottom: none; }
  .pricing .plan .btn {
    width: 50%; }
  .pricing .plan small {
    font-size: 0.6em;
    border-bottom: none;
    margin-bottom: 30px; }
.pricing .active {
  border-top: 10px solid coral; }
.pricing #tagline {
  grid-column: 2 / 4;
  justify-self: center; }

/*# sourceMappingURL=style.css.map */
